body {
  color: white !important;
}

:root {
  --theme-primary: #424242;
  --theme-on-primary: #ffffff;
  --theme-dark: #1b1b1b;
  --theme-on-dark: #ffffff;
  --theme-light: #6d6d6d;
  --theme-on-dark: #ffffff;
  --theme-secondary: #388E3C;
  --theme-secondary-light: #8BC34A;
  --default-headline-color:  white;
}

rocket-rotating-text {
  color: var(--theme-secondary);
}

a {
  color: var(--theme-secondary);
}

.highlight {
  color: var(--theme-secondary);
}

p, summary {
  color: white !important;
}

rocket-header-scroll-menu a {
  color: white;
}

a.cta {
  background-color: var(--theme-secondary);
}

rocket-header-scroll-menu {
  background: var(--theme-dark);
}


main > *:nth-child(2n) {
  background: var(--theme-dark) !important;
}
main > *:nth-child(2n + 1) {
  background: var(--theme-primary) !important;
}

main > *:nth-child(1) {
  background-image: url(darksoil.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: top left !important;
  height: 300px;
}

rocket-card {
  background-color: var(--theme-secondary);
  min-width: 300px;
  border-radius: 8px;
}

.photo {
  text-align: center;
  width: 64%;
  align-self: center;
  border-radius: 50%;
  padding-top: 8px;
}

footer {
  background: var(--theme-secondary);
  color: #fff;
}

footer a {
  color: #fff;
}

rocket-header-scroll-menu a.active, rocket-header-scroll-menu a:hover {
  color: var(--theme-secondary);
}

h1 {
  font-size: var(--step-2);
  line-height: var(--step-3);
}

.legal {
  text-align: right;
}

.bg-blue {
  padding: var(--space-m-l, 2em) 0;
}

.bg-blue > div {
  text-align: center;
}

rocket-header-scroll-menu a:nth-child(2) {
  display: none;
}

@media screen and (min-width: 1024px) {
  rocket-header-scroll-menu {
    --rocket-header-scroll-menu-text-align: right;
  }
  rocket-header-scroll-menu a:nth-child(2) {
    display: inline;
  }
}
